.navbar {
    background-color: var(--background-secondary);
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0;
    padding: 0 32px;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar h3 {
    padding: 14px 0px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.navbar div {
    display: flex;
}

.navbar div a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--text);
}

/* change background color of navbar link for not active class */
.navbar div a:hover:not(.active) {
    background-color: var(--tertiary);
}

/* change background color and text color of active link */
.navbar a.active {
    background-color: var(--primary);
    color: var(--text-dark);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .navbar {
        position: relative;
    }

    .navbar,
    .navbar div {
        flex-direction: column;
        padding: 0 0;
    }

    .navbar h3 {
        padding: 14px 16px;
        text-align: center;
    }
}