.main {
  display: flex;
  margin: 16px;
}

.main>div {
  background-color: var(--background-secondary);
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 16px;
}

#add-form {
  flex: 40%;
  align-self: flex-start;
}

#detail-view {
  flex: 60%;
  align-self: flex-start;
  width: 100%;
  box-sizing: border-box;
  margin-left: 16px;
  overflow-x: auto;
}

#detail-view>h4 {
  margin-top: 0;
  margin-bottom: 8px;
}

.horizontal-input {
  display: flex;
  position: relative;
}

.horizontal-input div:not(.horizontal-input-spacer) {
  flex: 50%;
}

.horizontal-input-spacer {
  width: 16px;
}

.submit {
  min-width: 160px;
}

@media only screen and (max-width: 600px) {

  /* main styles starts here */
  .main {
    flex-direction: column;
  }

  #detail-view {
    flex: 60%;
    margin-left: 0;
    margin-top: 16px;
  }

  #dob-state {
    flex-direction: column;
  }

  .horizontal-input {
    flex-direction: column;
  }

  .submit {
    width: 100%;
  }

  /* main styles ends here */
}

/* Medium devices (landscape tablets, 601px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {

  /* main styles starts here */
  .main {
    flex-direction: column;
  }

  #detail-view {
    flex: 60%;
    margin-left: 0;
    margin-top: 16px;
  }

  .horizontal-input {
    flex-direction: column;
  }

  /* main styles ends here */
}

/* Medium devices (769px and up) */
@media only screen and (min-width: 769px) and (max-width: 990px) {

  /* main styles starts here */
  .horizontal-input {
    flex-direction: column;
  }

  .submit {
    width: 100%;
  }

  /* main styles ends here */
}