.main {
  display: flex;
  margin: 16px;
}

.main>div {
  background-color: var(--background-secondary);
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 16px;
}

#add-form {
  flex: 40%;
  align-self: flex-start;
}

#detail-view {
  flex: 60%;
  align-self: flex-start;
  width: 100%;
  box-sizing: border-box;
  margin-left: 16px;
  overflow-x: auto;
}

#detail-view>h4 {
  margin-top: 0;
  margin-bottom: 8px;
}

.horizontal-input {
  display: flex;
  position: relative;
}

.horizontal-input div:not(.horizontal-input-spacer) {
  flex: 50%;
}

.horizontal-input-spacer {
  width: 16px;
}

.submit {
  min-width: 160px;
}

/* Data view styles starts here */
.user-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px;
  background-color: #f9f9f9;
}


#user-list {
  border-collapse: collapse;
  width: 100%;
}

#user-list td,
#user-list th {
  border: 1px solid var(--border);
  padding: 8px;
}

#user-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

#user-list tr:hover {
  background-color: #ddd;
}

#user-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--primary);
  color: var(--text-dark);
}

.user-card:not(:last-child) {
  margin-bottom: 16px;
}

.user-details {
  margin-bottom: 16px;
}

.user-details p {
  margin: 5px 0;
}

.user-details span {
  margin: 5px 0;
  font-weight: bold;
}

.user-buttons {
  display: flex;
}

.user-buttons button {
  min-width: auto;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-buttons button.edit {
  background-color: var(--primary);
  color: #fff;
}

.user-buttons button.delete {
  background-color: var(--error);
  color: #fff;
}


/* Data view styles ends here */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  /* main styles starts here */
  .main {
    flex-direction: column;
  }

  #detail-view {
    flex: 60%;
    margin-left: 0;
    margin-top: 16px;
  }

  #dob-state {
    flex-direction: column;
  }

  .horizontal-input {
    flex-direction: column;
  }

  .submit {
    width: 100%;
  }

  /* main styles ends here */

  /* Data view styles starts here */
  .user-buttons {
    flex-direction: column;
  }

  .user-buttons .edit {
    margin-bottom: 16px;
  }

  /* Data view styles ends here */
}

/* Medium devices (landscape tablets, 601px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {

  /* main styles starts here */
  .main {
    flex-direction: column;
  }

  #detail-view {
    flex: 60%;
    margin-left: 0;
    margin-top: 16px;
  }

  .horizontal-input {
    flex-direction: column;
  }

  /* main styles ends here */
}

/* Medium devices (769px and up) */
@media only screen and (min-width: 769px) and (max-width: 990px) {

  /* main styles starts here */
  .horizontal-input {
    flex-direction: column;
  }

  .submit {
    width: 100%;
  }

  /* main styles ends here */
}